dist
node_modules
tsconfig.tsbuildinfo
eslint.config.mjs
.env
.env.development
.env.production

Dockerfile.prod
DOCKERFILE
Dockerfile.dev

# Uploads
public/uploads/products/*
!public/uploads/products/.gitkeep