dist
node_modules
tsconfig.tsbuildinfo
eslint.config.mjs
.env
.env.development
.env.production
!.env.example

Dockerfile.prod
DOCKERFILE
Dockerfile.dev

# Uploads
public/uploads/products/*
!public/uploads/products/.gitkeep
public/uploads/banners/*
!public/uploads/banners/.gitkeep
public/uploads/store/*
!public/uploads/store/.gitkeep